/*
///////////////////////////////
///////////////////////////////
//
// ██████╗  ██████╗ ███████╗██╗
// ██╔══██╗██╔═══██╗██╔════╝██║
// ██████╔╝██║   ██║█████╗  ██║
// ██╔══██╗██║   ██║██╔══╝  ██║
// ██║  ██║╚██████╔╝██║     ██║
// ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝
//
///////////////////////////////
// Rofi - Catppuccin Mocha ///
///////////////////////////////
*/

/*****----- Configuration -----*****/
configuration {
	modi:                       "drun";
  display-drun: "Apps";
	drun-display-format:        "{name}";
}

* {
    font: "GeistMono Nerd Font 12";
    /* Catppuccin Mocha Colors */
    text-color: #cdd6f4; /* Text */
    background-color: rgba(30, 30, 46, 0.6);  /* Base with transparency */
    border: 0px;
    padding: 0;
    spacing: 0;
}

window {
    transparency: "real";
    blur: true;
    padding: 20px;
    width: 700px;
    height: 450px;
    border-radius: 20px;
}

mainbox {
    padding: 10px;
    children: [inputbar, listview];
    spacing: 15px;
    border-radius: 15px;
}

inputbar {
    children: [entry];
    background-color: rgba(49, 50, 68, 0.8);  /* Surface0 */
    border-radius: 7px;
    padding: 6px 12px;
}

entry {
    expand: true;
    text-color: #cdd6f4; /* Text */
    cursor: text;
    background-color: transparent;
    placeholder: "Search...";
    placeholder-color: #6c7086; /* Overlay0 */
}

listview {
    lines: 10;
    dynamic: true;
    fixed-height: false;
    scrollbar: false;
    padding: 0;
    border-radius: 10px;
    spacing: 6px;
}

element {
    padding: 15px;
    border-radius: 4px;
    background-color: transparent;
    horizontal-align: 0.5;
    spacing: 10px;
    children: [element-icon, element-text];
}

element-text {
    background-color: transparent;
    vertical-align: 0.5;
}

element selected {
    background-color: rgba(203, 166, 247, 0.2);  /* Mauve with transparency */
    text-color: #cdd6f4; /* Text */
}

element-icon {
    size: 22px;
    margin: 5px;
    margin-right: 30px;
    vertical-align: 0.5;
}